/* 
    Author     : Andrew Killen
*/

$page-max-width: 1280px;
$hero-max-width: 1920px;

$base-font-set: "Droid Sans", "Fira Sans", "Futura","Helvetica", "Arial", sans-serif;
$base-font-weight: 400;
$base-font-weight-bold: 700;
$base-font-color: rgb(40,40,40);

$heading-font-set: "Droid Sans", "Fira Sans", "Futura", "Helvetica", "Arial", sans-serif;
$heading-font-weight: 400;
$heading-font-weight-bold: 700;
$heading-font-color: rgb(20,20,20);


$monospace-font-set:"American Typewriter", "Courier", "Courier New", "Helvetica", "Arial", monospace;
$monospace-font-weight: 400;
$monospace-font-weight-bold: 700;
$monospace-font-color: rgb(60,60,60);

$background-color: rgb(245,245,245);

$color-1: rgb(33,117,155); // light blue
$color-2: rgb(32,36,53); // dark blue
$color-3: rgb(206,69,23); // red
$color-4: rgb(167,113,78); // brown

