/* 
    Created on : Sep 1, 2017, 12:58:21 PM
    Author     : rnw
*/

#holder {
    max-width: 1920px
}
@media screen and (min-width:1920px){
    margin-left: auto;
    margin-right: auto;
}

main { 
    max-width: 100%;
    padding-left:20px;
    padding-right:20px
}

@media screen and (min-width:$page-max-width){
    main {
        width:$page-max-width;
        margin-left: auto;
        margin-right: auto;
    }
}


footer {
    margin-top: 80px;
    width:100%;
    padding: 2em .5em 2em .5em;
    color: $background-color;
    background-color: $base-font-color;
    text-align: center;
    font-size:.8em;
}