/* =Links
-------------------------------------------------------------- */
a {
    text-decoration: none;
    border-bottom: solid 1px $color-2;
    color:$color-5;
}

a:hover {
    border-bottom: solid 1px $color-3;
    color: $color-2;
    text-shadow: 0 0 1px #999;
}

h1, h2, h3, h4, h5, h6 {
    a{    
    border-bottom-width: 0;
    color:$color-1;
    text-shadow: none;
        
    }
}

footer a {
    border-bottom: solid 1px $background-color;
    color: $background-color;
}
footer a:hover { 
    color:$color-3;
    text-shadow: none;
}