/* =Links
-------------------------------------------------------------- */
a {
    text-decoration: none;
    border-bottom: solid 1px $base-font-color
}
a:hover {
    border-bottom: solid 1px $color-3
        
}